/*-=========== Grid System ===========-*/
.row {
  max-width: 114rem;
  margin: 0 auto;
  @include clearfix;

  @include respond(tablet-landscape) {
    padding: 0 2.4rem;
  }

  &:not(:last-child) {
    margin-bottom: $grid-v-gutter;
  }

  [class^="col-"] {
    float: left;

    @include respond(tablet-portrait) {
      width: 50%;
      float: none;

      // for the last element
      margin: 0 auto;
    }
    @include respond(phone) {
      width: 75%;
    }

    &:not(:last-child) {
      margin-right: $grid-h-gutter;
      margin-bottom: $grid-v-gutter;

      @include respond(tablet-portrait) {
        // for the above elements to have vertical margin
        margin: 4rem auto;
      }
    }
  }
}
.col-1-of-2 {
  width: calc((100% - #{$grid-h-gutter}) / 2);
}
.col-1-of-3 {
  width: calc((100% - 2 * #{$grid-h-gutter}) / 3);
}
.col-2-of-3 {
  width: calc(((100% - (2 * #{$grid-h-gutter})) / 3) * 2 + #{$grid-h-gutter});
}
.col-1-of-4 {
  width: calc((100% - 3 * #{$grid-h-gutter}) / 4);
}
.col-2-of-4 {
  width: calc(((100% - 3 * #{$grid-h-gutter}) / 4) * 2 + #{$grid-h-gutter});
}
.col-3-of-4 {
  width: calc(
    ((100% - 3 * #{$grid-h-gutter}) / 4) * 3 + (2 * #{$grid-h-gutter})
  );
}
