/*-=========== Card Component ===========-*/
.card {
  // fix height collapse after positioning
  height: 56rem;
  position: relative;

  // allowing 3d effect
  perspective: 1000px;

  @include respond(tablet-portrait) {
    perspective: 0;
    height: auto;
  }
  &__side {
    height: 56rem;
    border-radius: 3px;
    overflow: hidden;

    // position the 2 sides above each other
    position: absolute;
    top: 0;
    left: 0;

    // fix width collapse after positioning
    width: 100%;

    // hide the backside
    backface-visibility: hidden;
    transition: all 1s ease-in-out;

    @include respond(tablet-portrait) {
      height: auto;
      position: static;
      backface-visibility: visible;
    }

    &--front {
      background-color: $color-light;
      color: $color-dark-grey;
    }
    &--back {
      transform: rotateY(180deg);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      @include respond(tablet-portrait) {
        transform: rotateY(0);
        padding: 2.4rem;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
        margin-top: -9%;
      }

      &--1 {
        background-image: linear-gradient(
          to bottom right,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &--2 {
        background-image: linear-gradient(
          to bottom right,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &--3 {
        background-image: linear-gradient(
          to bottom right,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  // Rotate effect
  &:hover &__side--front {
    transform: rotateY(-180deg);

    @include respond(tablet-portrait) {
      transform: none;
    }
  }
  &:hover &__side--back {
    transform: rotateY(0);

    @include respond(tablet-portrait) {
      transform: none;
    }
  }

  &__image {
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    background-blend-mode: screen;

    &--1 {
      background: linear-gradient(
          to bottom right,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5.jpg) center center/cover;
    }
    &--2 {
      background: linear-gradient(
          to bottom right,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../img/nat-6.jpg) center center/cover;
    }
    &--3 {
      background: linear-gradient(
          to bottom right,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../img/nat-7.jpg) center center/cover;
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    color: $color-light;
    text-transform: uppercase;
    position: absolute;
    top: 14rem;
    right: 2rem;
    width: 75%;

    &-span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      &--1 {
        background-image: linear-gradient(
          to bottom right,
          rgba($color-secondary-light, 0.8),
          rgba($color-secondary-dark, 0.8)
        );
      }
      &--2 {
        background-image: linear-gradient(
          to bottom right,
          rgba($color-primary-light, 0.8),
          rgba($color-primary-dark, 0.8)
        );
      }
      &--3 {
        background-image: linear-gradient(
          to bottom right,
          rgba($color-tertiary-light, 0.8),
          rgba($color-tertiary-dark, 0.8)
        );
      }
    }
  }

  &__attributes {
    padding: 3.6rem;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__list-item {
    display: flex;
    gap: 1rem;
    font-size: 1.8rem;
  }

  &__price-box {
    color: $color-light;
  }
  &__only {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }
  &__price {
    font-size: 6.4rem;
    font-weight: 100;

    @include respond(tablet-portrait) {
      font-size: 4.8rem;
    }
  }
}
