/*-=========== General Styles ===========-*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; /* == 10px */
}
body {
  color: $color-dark;
  box-sizing: border-box;
  padding: 3.6rem;
}
